* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

hr.solid {
    border-top: 3px solid #bbb;
  }

body {

    font-family: "Rubik", sans-serif;
}


i {
    color: orangered;
    margin-right: 4px;
}

a {

    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%
}


.container {

   width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.contact_socialmedia {

    display: flex;

    flex-wrap: wrap;
}

.cont_social {
    margin-top: 10px;
    text-align: center;
}

ul {
    list-style: none;
}

.inlin ul li {
    display: inline;
}

.inlin ul li .fa {
    border-radius: 5px;
    padding: 10px;

    width: 40px;
    text-align: center;

    margin: 5px 2px;
    color: orangered;
    font-size: small;
    border: 1px solid orangered;
}

hr {
    margin-top: 10px;
    background-color: aqua;
}

.topnav {
    overflow: hidden;
    background-color: white;
}


.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: white;
    color: white;
}

.topnav .icon {
    display: none;
}

.topnav .orang {
    color: orangered;
}

.topnav .back_orang {


    background-color: orangered;
    color: white;
    border-radius: 10px;
}

.navvbar {
    margin-top: 10px;
    justify-content: center;
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
    color: white;
    content: "\f0c9";
}

.front_wall {
    margin-top: 15px;
    display: flex;
    justify-content: center;

    height: 800px;
    background-color: #7dcaba;
}

.textt button {
    display: inline-block;
    background-color: #ff6348;
    margin: 30px 0 0;
    color: #fff;
    padding: 15px 30px;
    border-radius: 4px;
    font-weight: 600;

}

.head_color {
    font-family: 'Josefin Sans', sans-serif;

    font-size: 39px;
    color: #0c2461;
    width: 60%;
    text-align: center;
    margin-bottom: 10px;
}




.small_head_color {
    font-family: 'Josefin Sans', sans-serif;

    font-size: 25px;
    color: #0c2461;
}

.feature_details i{
    margin-top: 10px;
    font-size: 40px;
}

.des_color {

    color: #3c6382;
}

.about_watch {
    margin-top: 20px;
}

.orang_text {
    font-family: 'Josefin Sans', sans-serif;
    color: orangered;
    margin-bottom: 10px;
}

.def_color {
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #0c2461;
}

.siz {
    width: 100%;
}

.watch_description {
    margin: 2px;
}

.features {
    padding-top: 15px;
    flex-direction: column;
    display: flex;
    width: auto;
    background-color: #f6f3ea;
    height: auto;
    text-align: center;
}

.feature_description {
    align-self: center;
}

.col_flex {
    
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
}

.sub_feature {
    width: 50%;
    margin: 10px;
    
    align-self: center;

}

.sub_feature img {
    height: 200px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }

    50% {
        left: 0px;
        top: 25px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}



.feature_details {
    margin-bottom: 20px;
}


.why_choose{
    padding: 30px;
    width: 100%;
    display: flex;

}

.setwidth{
    
    align-self: center;
}
.photo_description{
    margin: 20px;
}

.head_color_v5 {
    font-family: 'Josefin Sans', sans-serif;

    font-size: 45px;
    color: #0c2461;
    
   
    margin-bottom: 10px;
}

.why_descripton{
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.why_features{
    margin: 30px 0 30px 0;
    width: 40%;
    align-self: center;
    text-align: center;
}

.why_features{
 font-size: 25px;
}

.discount{
    justify-content: center;
    display: flex;
}


.discount_compartment{
    padding: 25px 0 25px 0;
    width: 45%;
    background-color: #f6f3ea;
   display: flex;
   border-radius: 10px;
   margin: 15px;
}

.sale_img{
    
    text-align: right;

    width: 45%;
    
}
.sale_img img{
    
    
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
    position: relative;
    animation-name: example;
}

.button_style{
    color: white;
    background-color: orangered;
    border-radius: 5px;
    padding: 10px;
    border-color: orangered;
    margin-top: 10px;
}
.bottom_mar{
    margin-top: 30px;
}

  .head_color_v3{
    font-size: 40px;
    color: #0c2461;
    margin-bottom: 5px;
}

.questions{
    display: flex;
    flex-direction: column;
    
}

.question_design{
    display: flex;
    justify-content:end;
    
}
.head_color_v0{
    font-size: 25px;
    color:#0c2461 ;
}
.question_compartments
{
    margin: 15px;
}
.shipping{
    background-color: #f6f3ea;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 200px;
}

.shiping_option{
    align-self: center;
    display: flex;
    
}
.shiping_option i{
    font-size: 25px;
}





.contact{
    display: flex;
   padding: 5%;
   flex-direction: column;
}

.contact_compartment{
display: flex;
flex-direction: column;
}
.seventypercent{
    width: 60%;
    flex-direction: row;
}

.sixtypercent{
    width: 60%;
    flex-direction: column;
}

.name_address{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    
    
}
.Address_compartment{
    width: 50%;
    align-self: center;
    text-align: left;
    margin: 15px 0 15px 0;
}
textarea {
    border-radius: 5px;
    width: 100%;
    height: 100px;
    border-width:1px ;
    border-color:aqua;
    margin: 10px 0 10px 0;
  }

  input{
      margin: 10px 0 10px 0;
    border-width:1px;
    border-color:aqua;
      border-radius: 3px;
      height: 45px;
  }

  .Address_compartment .inlinep2{
     display: inline;
  }
  .Address_compartment{
      text-align: left;
  }

  .flex_row{
      flex-direction: row;
  }
.flex_width{
    width: 60%;
}
.width_Control{
    width: 150px;
}


.last_page{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #f6f3ea;
    padding-top: 50px;
}
.last_compartment{
    width: 100%;
    display: flex;
    justify-content: center;
}
.last_details{

    display: flex;
    


}

.sixty_width{
    width: 60%;
    

}
.fourty{
    width: 40%;
    flex-direction: column;
}

.details_description{
    width: 50%;
    align-self: center;
    margin: 15px;
}
.details_description p{
margin: 15px 0 15px 0;
}

.fourty input{
    
    flex-direction: column;
    border-radius: 20px;
}

.fourty p{
    margin-top: 15px;
}

.main_icon{
  
    background-color: white;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.main_icon p{
text-align: center;

}

.social_icons{
    display: flex;
    
}

main_icon{
    align-self: center;
}
.lastest ul li .fa {
    border-radius: 5px;
    padding: 10px;
float: left;
    width: 50px;
    text-align: center;
    border-radius: 100%;
background-color: white;
    margin: 5px 2px;
    color: black;
    font-size: 25px;
    margin-top: 20px;
}


.last_compartment span{
    color: orangered;
}
.top_mar{
    margin-top: 20px;
}




.say p{
    display: inline;
    
}














/*-----------*/



/*---------------------------------------------*/
@media screen and (max-width: 767px) {


    .contact_socialmedia {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contact_socialmedia {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        color: white;
        background-color: orangered;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
        font-weight: bolder;
    }

    .front_wall {

        width: auto;
        height: auto;
        flex-direction: column;
    }

    .textt {
        align-self: center;
    }


    .textt img {
        margin-top: 15px;
        height: 300px;


    }

    .best_fashion {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        color: #0c2461;
        ;
        text-align: center;
        font-size: 40px;
        margin-bottom: 10px;
    }

    .lorem {
        width: 100%;
        text-align: center;
        color: #3c6382;
    }

    .textt button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .about_watch {
        display: flex;

        flex-direction: column;
        width: 100%;
    }

    .watch_compartment {
        width: 100%;
        text-align: center;
    }



    .head_color {


        font-size: 23px;

    }

    .just {

        width: 100%;
        text-align: center;
    }

    .row_design {
        flex-direction: column;
        display: flex;

    }

    .watch_description {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;

    }

    .watch_description i {
        font-size: 45px;

    }

    .feature_description {
        flex-direction: column;



    }


    .sub_feature {
        width: 98%;
    }

    .why_choose{
     flex-direction: column;
    }
.photo_description .orang_text{
    font-size:13px;
}

.head_color_v5{
    font-weight: bolder;
    font-size: 20px;
}



.why_descripton{
    flex-direction: column;
    
}

.why_features{
    width: 100%;
    
    text-align: left;
}

.why_features i{
    display: inline;
}
.why_features .inlinep{
    display: inline;
}
.discount{
    justify-content: center;
    flex-direction: column;
    
}
.discount_compartment{
    
    width: 80%;
    align-self: center;
    flex-direction: column;
}

.sale_img{
    text-align: center;
    align-self: center;
}
.head_color_v3{
    font-size: 25px;
}






.question_design{
    flex-direction: column;
}
.shipping{
    height: 300px;
    flex-direction: column;
    width: 100%;
}
.icon_des{
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.shiping_option{
    flex-direction: column;
}
.flex_row{
    flex-direction: column;
}
.Address_compartment{
    width: 100%;
}
.contact_compartment{
    margin: 10px 0 10px 0;
}

.last_page{
    flex-direction: column;
}
.last_compartment{
    width: 100%;
    text-align: center;
    flex-direction: column;
}

.fourty{
    flex-direction: column;
    width: 100%;
    text-align: start;
}



.lastest ul li .fa {

float:left;
  
}


.sixty_width{
 text-align: left;
    width: 100%;
}

}

/*---------------------------------------------*/
@media screen and (min-width: 768px) {
    .topnav a {
        padding: 14px 12px;
    }
    .say ul li{
        display: block;
    }

    .contact_socialmedia {
        margin-top: 10px;
        width: 50%;
        justify-content: center;

    }

    .cont_social {
        width: 50%;

    }

    .first {
        margin-top: 0px;
        text-align: center;
    }

    .inlin {
        margin-top: 0px;
        text-align: center;
    }

    .front_wall {

        height: 350px;
        width: auto;
    }

    .textt {

        align-self: center;
        width: 50%;

    }


    .textt img {
        margin-top: 47px;
        height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .best_fashion {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bold;
        color: #0c2461;
        ;
        text-align: center;
        font-size: 40px;
        margin-bottom: 10px;
    }

    .lorem {
        text-align: center;
        color: #3c6382;
    }

    .textt button {
        padding: 10px 12px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .about_watch {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .just {
        width: 60%;
        text-align: center;
        margin-bottom: 20px;
    }

    .row_design {
        display: flex;


        justify-content: space-between;
    }

    .watch_description {

        text-align: center;
    }

    .watch_description i {
        font-size: 50px;
        margin-bottom: 10px;
    }

.why_features{
    align-self: center;
    text-align: center;
}
.say p{
    font-size: 10px;
    
}


}


/*---------------------------------------------*/

@media screen and (min-width: 992px) {
    .first li {
        float: left;
        margin-right: 10px;
    }
    .about_watch{
        width: 100%;
    }
    ul li {
        display: inline;
    }

    .navvbar {

        margin-left: 60px;
    }

    .topnav a {
        padding: 14px 18px;
    }

    li i {
        margin: 10px;
    }
    main_icon{
        align-self: center;
    }
    .lastest ul li .fa {
        
    float: none;
       
    }


}

/*---------------------------------------------*/
@media screen and (min-width: 1200px) {
    .cont_social ul li {
        font-size: 18px;
    }
.about_watch{
    width: 100%;
}

    .inlin ul li .fa{
        font-size: 18px;
        padding: 5px;
    }
 
    .topnav a {
        padding-top: 20px;
        font-size: 20px;
    }

    .topnav a img{
       height: 20px;
       width: 180px;
    }

.best_fashion {
    font-size: 40px;
}

.textt .lorem{
    font-size: 18px;
}

.textt button{
    border-color: orangered;
    padding: 15px;
    font-size: 15px;
    
}

.textt img{
    height: 300px;
    width: 200px;
}

.just{
    font-size: 20px;
}


.watch_compartment{
    display: flex;
    justify-content: space-around;
}

.watch_description{
    margin: 20px;
    align-self: center;
}

.watch_description i {
    font-size: 80px;
}

.watch_description .def_color{
    font-size: 30px;
}

 .des_color{
    font-size: 20px;
}

.orang_text{
    font-size: 20px;
}


.small_head_color{
    margin-top: 10px;
    font-size: 30px;
    margin: 5px 0 5px 0;
}


.why_choose{
    
    
    display: flex;
justify-content: center;
}
.why_choose{
     width: 100%;
    }
.photo_description{
    margin: 0px;
}

.setwidth{
    
    align-self: none;
}

.photo_description{
    margin: 20px;
}
.features{
    justify-content: center;
}

.sub_feature{
    width: 30%;
    margin: 0 60px 0 60px;
}

.feature_description{
   justify-content: center;
}

.col_flex{
    justify-content: center;
}

.sub_feature{
    width: 50%;
}

.say ul li{
    display: inline;
}







}
